/*/Screenshot
/Screenshot
/packages
*/bin
/bin
*/obj
/obj
/bin/Debug/*
/obj/Debug/*
/bin/Release/*
/bin/Debug/*

[Bb]in/
[Oo]bj/
[Ll]og/
/bin/*
/obj/*
/bin/Debug/*
/obj/Debug/*
/bin/Release/*
/bin/Debug/*


UnitTests/*